nimcache
test/tests
test/tlex
test/tdom
test/tserialization
test/tjson
test/yamlTestSuite
test/tquickstart
test/*.exe
test/*.pdb
test/*.ilk
server/server
bench/jsonBench
bench/yamlBench
bench/bench
yaml.html
libyaml.dylib
libyaml.so
bench/json
docout
doc/rstPreproc
doc/tmp.rst
doc/**/code
yaml-dev-kit
